input {
  height: 2rem;
  width: 12.5rem;
  margin: 1rem;
}

.make-reservation {
  height: 2rem;
  width: 12.5rem;
}

.make-reservation:hover {
  background: white;
}

.resy-modal {
  position: fixed;
  height: 20vh;
  width: 40vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-center;
  background-color: white;
  border: 0.25rem solid #008080;
}